.dashboard {

  &__subheading {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    @include mq(tablet) {
      font-size: 2rem;
      margin-left: 1.5rem;
    }
    @include mq(tablet) {
      font-size: 2rem;
      margin-left: 0;
    }
  }

  &__items {
    list-style: none;
    padding: 0 1rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    @include mq(tablet) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.9rem;
        padding: 0 1.5rem;
    }
    @include mq(desktop) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2.5rem;
        padding: 0;
    }
    
    &--trending {
      grid-auto-flow: column;
      overflow-x: scroll;
      column-gap: 1rem;
      @include mq(tablet) {
          column-gap: 2.5rem;
      }
    }
  }

  &__item {
    max-width: 280px;

    &--trending {
      width: auto;
      height: auto;
      max-width: 470px;
      @include mq(tablet) {
        width: 100%;
      }

      .movie {
        width: 240px;
        height: 140px;
        @include mq(tablet) {
          width: 470px;
          height: 230px;
        }

        &__details {
          position: absolute;
          bottom: 0;
          left: 0;
          padding-left: 1rem;
          padding-bottom: 1rem;
          width: 100%;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.0001) 0%,
            rgba(0, 0, 0, 0.75) 100%
          );
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          @include mq(tablet) {
            padding-bottom: 1.5rem;
            padding-left: 1.5rem;
          }
        }

        &__title {
          @include mq(tablet) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
