$clr-red: #FC4747;
$clr-dark-blue: #10141E;
$clr-gray-blue: #5A698F;
$clr-semi-dark-blue: #161D2F;
$clr-white: #FFFFFF;

$fs-500: 2rem;
$fs-400: 1.5rem;
$fs-300: 1.125rem;
$fs-200: 0.9375rem;
$fs-100: 0.8125rem;

$fw-light: 300;
$fw-med: 500;

$ff: 'Outfit', sans-serif;
